extends layout
head
    title= title
body

block content

  p This is a nice little application to measure the happiness of a team
  p
  br
  p Please login to read the results:
      a(href="/login") login

