body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color #000000
  color: #ffffff
  margin-left 300px
a
  color: #00B7FF

h1
  color #ffffff

.bbody
  background-color #000000
  color green
  width 100%
  alignment center

.mycontainer
  alignment center
  color white
  text-align center